* {
    margin:  0;
    padding: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

article {
    display: flex;

    flex-direction: column;

    align-items:     center;
    justify-content: center;
}

aside {
    display: flex;

    flex-shrink: 0;

    height: 100%;

    background: #ddd;

    flex-direction: column;
}

aside button {
    flex-shrink: 0;

    padding: 0.25rem 0.5rem;
}

aside ul {
    height: 100%;

    overflow-y: auto;

    list-style: none;
}

aside ul li {
    cursor: pointer;

    padding-left: 1rem;
}

aside ul li:hover {
    background: #ccc;
}

aside ul li span + span {
    float: right;

    padding-left: 0.25rem;
}

body, html, main {
    width:  100%;
    height: 100%;

    font-size:   12px;
    line-height: 12px;
    font-family: monospace;
}

main {
    display: flex;
}

main section {
    flex: 1;

    width: 0;

    display: flex;

    flex-direction: column;
}

nav {
    display: flex;

    flex-shrink: 0;

    flex-wrap: wrap;

    width: 100%;

    background: #ccc;
}

nav a {
    display: block;

    padding: 0 0.25rem 0.2rem 0.25rem;

    cursor: pointer;

    background: #bbb;
}

nav a:first-of-type {
    background: #aaa;
}

nav a span {
    color: #fff;
}

nav a span:hover {
    color: #f00;
}

nav a * + span {
    margin-left: 0.25rem;
}

section > div,
section > pre,
section > article {
    flex: 1;

    overflow: auto;

    white-space: pre;
}

textarea {
    border: 0;

    flex-shrink: 0;

    padding-bottom: 0.1rem;

    background: #eee;

    width: 100%;

    resize: vertical;
}
